@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/* ============================

  Base

=============================== */

@layer base {
  body {
    @apply tracking-wide main-theme;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply p-4 shadow rounded-xl uppercase bg-gradient-to-r from-primary to-secondary text-white hover:scale-110 ease-in duration-300;
  }
};

/* ============================

  Components

=============================== */

@layer components {
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .tags {
    @apply uppercase text-xs font-tertiary tertiary-bg rounded p-2 text-center max-w-sm max-h-8 overflow-hidden;
  }

  .card {
    @apply p-4 rounded-xl shadow secondary-bg zoom;
  }

  .social {
    @apply rounded-full shadow p-3 cursor-pointer zoom;
  }

  .nav-item {
    @apply ml-10 text-sm uppercase hover:text-primary;
  }

  .icon {
    @apply p-3 gap-3 flex-center flex-col dark:hover:bg-light-tertiary-bg hover:bg-dark-secondary-font rounded-xl
  }

  .carousel-dot {
    @apply font-secondary rounded hover:text-secondary
  }

  .carousel-dot.active {
    @apply text-primary
  }
}

/* ============================

  Utilities

=============================== */

@layer utilities {
  .main-theme {
    @apply bg-light-main-bg text-light-main-font dark:bg-dark-main-bg dark:text-dark-main-font
  }

  .secondary-bg {
    @apply bg-light-secondary-bg dark:bg-dark-secondary-bg
  }

  .tertiary-bg {
    @apply bg-light-tertiary-bg dark:bg-dark-tertiary-bg
  }

  .font-secondary {
    @apply text-light-secondary-font dark:text-dark-secondary-font;
  }

  .font-tertiary {
    @apply text-light-tertiary-font dark:text-dark-tertiary-font;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .shadow {
    @apply shadow-md shadow-light-shadow dark:shadow-dark-shadow;
  }

  .zoom {
    @apply hover:scale-105 ease-in duration-200;
  }

  .link {
    @apply text-primary hover:underline cursor-pointer;
  }
}